{% extends 'base.html' %}
{% block content %}
    <!-- Hero Section -->
    <section class="bg-light p-5">
        <div class="container text-center">
            <h1>Ultra Hiper Stock Market</h1>
        </div>
    </section>

    <section>
        <div class="d-grid gap-2 col-6 mx-auto">
            <a href="{{ url_for('desktop.index') }}" class="btn btn-primary btn-lg">Desktop</a>
        </div>
    </section>

    <!-- Featured Products -->
    <section>
        <h2 class="text-center mb-4">Currently Popular Stocks</h2>
        <div class="row">
            {% for stock in stocks %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="{{ url_for('static', filename=stock.image) }}" class="card-img-top img-fluid" alt="{{ stock.name }} Logo" style="height: 200px; object-fit: contain; background-color: #f8f9fa;">
                    <div class="card-body">
                        <h5 class="card-title">{{ stock.name }}</h5>
                        <p class="card-text">{{ stock.description }}</p>
                        <a href="#" class="btn btn-primary">Buy Now</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <section>
        <center>

        <a href="{{ url_for('transactions_history.index') }}" class="btn btn-primary">History</a>

        <a href="{{ url_for('order.index') }}" class="btn btn-primary">New Order</a>

        </center>
    </section>

{% endblock %}
