{% extends 'base.html' %}
{% block content %}
    <!-- Hero Section -->
    <section class="bg-light p-5">
        <div class="container text-center">
            <h1>Welcome to Our Food court</h1>
        </div>
    </section>

    <!-- Featured Products -->
    <section class="container my-5">
        <h2 class="text-center mb-4">Featured Restaurants</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="https://via.placeholder.com/300" class="card-img-top" alt="Product">
                    <div class="card-body">
                        <h5 class="card-title">Restaurant</h5>
                        <p class="card-text">Description of the restaurant goes here.</p>
                        <a href="#" class="btn btn-primary">Order Now</a>
                    </div>
                </div>
            </div>

            <!-- <button type="button">
                Historia
            </button> -->

            <a href="{{ url_for('transactions_history.index') }}" class="btn btn-primary">History</a>

            <a href="{{ url_for('order.index') }}" class="btn btn-primary">New Order</a>

            <!-- <form action="/historia" method="post">
                <button type="button">Nowe Zlecenie </button>
            </form> -->

            <!-- Repeat for other products -->
        </div>
    </section>


{% endblock %}
